<%-include("../navigator/header.ejs")%>
<div class="p-4 font-AG flex justify-center">
    <div class="flex flex-col">
        <img src="../images/Jason-avatar.jpg" class="sm:w-[220px] md:w-[420px] aspect-square object-cover drop-shadow-xl"> 
        <span class="text-2xl">Chan-Chun Yen</span>
        <span class="text-xl">Github Master</span>

        <div class="flex flex-row text-sm gap-2 underline"> 
            <a href="https://github.com/Jasonyentw">Github</a>
        </div>
    </div>

    <div class="flex flex-col gap-4 p-4 lg:w-[50rem] md:w-[40rem] sm:[40rem] font-SS3">
        <p>
            <!-- about you here -->
            I am Chan-Chun Yen, a senior Computer Science student with a strong interest in system programming and cloud computing. I have experience using C and C++ for operating system development, including file system implementation and driver applications. Additionally,
            I am familiar with Java and have worked on parts of a banking system as a personal project.
        </p>
        <p>
            I have also designed a personal financial tracking database system using MySQL. In cloud computing, I have set up an AWS-based infrastructure that connects databases to EC2 instances, utilizing AWS RDS for automated backups and failover management, along
            with AWS Elastic Load Balancing (ELB) to distribute traffic and prevent server overload. Through my personal projects, I have developed a strong foundation in both low-level system programming and scalable cloud solutions, and
            I am eager to continue building efficient and reliable software systems
        </p>
        
    </div>

</div>
