<%-include("../navigator/header.ejs")%>
<div class="p-4 font-AG flex justify-center">
    <div class="flex flex-col">
        <img src="../images/Alvin-avatar.png" class="sm:w-[220px] md:w-[420px] aspect-square object-cover drop-shadow-xl"> 
        <span class="text-2xl">Alvin Tulud</span>
        <span class="text-xl">Front-End Lead</span>

        <div class="flex flex-row text-sm gap-2 underline"> 
            <a href="https://www.linkedin.com/in/alvin-tulud-15b9571b8/">Linkedin</a>
            <a href="https://github.com/Alvin-Tulud">Github</a>
            <a href="https://alvin-tulud.itch.io/">itch.io</a>
        </div>
    </div>

    <div class="flex flex-col gap-4 p-4 lg:w-[50rem] md:w-[40rem] sm:[40rem] font-SS3">
        <p>
            My name is Alvin Tulud, I am a 4th Year Computer Science Major at San Francisco State University. 
            I have a passion for game design and coding within Unity utilizing C#.
            I have experience with front-end development using HTML, CSS, and JavaScript from previous courses. 
            And I am currently learning about the whys and how of what makes good UX/UI design.
    </p>
        <p>
            As for my own personal projects, I have created a multitude of games within Unity that i have published on itch.io. 
            I am also an Officer of the Game Development Club at SFSU where I help teach and guide students in game development.
            Outside of campus life, I enjoy cooking, running, and hiking long trails.
        </p>
        
    </div>

</div>