<%-include("../navigator/header.ejs")%>
<div class="p-4 font-AG flex justify-center">
    <div class="flex flex-col">
        <img src="../images/Angelie_avatar.png" class="sm:w-[220px] md:w-[420px] aspect-square object-cover drop-shadow-xl"> 
        <span class="text-2xl">Angelie Bautista</span>
        <span class="text-xl">Project Lead</span>

        <div class="flex flex-row text-sm gap-2 underline"> 
            <a href="">Facebook</a>
            <a href="">Linkedin</a>
        </div>
    </div>

    <div class="flex flex-col gap-4 p-4 lg:w-[50rem] md:w-[40rem] sm:[40rem] font-SS3">
        <p>
        My name is Angelie Bautista, and I am currently a CS Major senior attending San Francisco State University.
        I have a strong interest in game development, preferring Unity and writing tools like Ink to create my games.
    </p>
        <p>
        I am also currently the president of the Game Development Club at SFSU, as well as the CS Pitch Director.
        I enjoy learning new subjects, so lets meet and collaborate soon.
        </p>
        
    </div>

</div>