<%-include("../navigator/header.ejs")%>
<div class="p-4 font-AG flex justify-center">
    <div class="flex flex-col">
        <img src="../images/Lap-img.jpeg" class="sm:w-[220px] md:w-[420px] aspect-square object-cover drop-shadow-xl"> 
        <span class="text-2xl">Lap Pham</span>
        <span class="text-xl">Back-End Lead</span>

        <div class="flex flex-row text-sm gap-2 underline"> 
            <a href="https://www.linkedin.com/in/lap-pham/">Linkedin</a>
        </div>
    </div>

    <div class="flex flex-col gap-4 p-4 lg:w-[50rem] md:w-[40rem] sm:[40rem] font-SS3">
        <p>
            Senior at San Francisco State University with experience in computer science tutoring, full-stack development, and data science research.<br>
            Skilled in Java, Python, C++, data structures, and web development, providing structured guidance to students.<br>
            Completed a 300-hour full-stack development internship, building web applications with Flask, Jinja and SQL, optimizing RESTful APIs, and working in agile sprints.<br>
            Conducted data science research on health data analysis, leveraging Python and computational models on the Lonestar 6 Supercomputer, with findings presented at a university symposium.
        </p>
        
    </div>

</div>
